.dropdown {
  position: absolute;
  top: 58px;
  width: 150px;
  transform: translateX(-45%);
  background-color: white;
  border: 1px solid #474a4d;
  border-radius: 8px;
  padding: 5px;
  overflow: hidden;
  z-index: 20;

  a {
    color: #474a4d;
    text-decoration: none;
  }

  .navButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
